Package: enigma2-plugin-softcams-oscamsmartcard
Version: 20180210
Description: OscamSmartcard 2.3 - Oscam the easy way
Section: base
Architecture: mipsel
Priority: optional
Maintainer: Undertaker
License: unknown
