Package: enigma2-plugin-softcams-oscamsmartcard
Version: 20161013
Description: OscamSmartcard 2.2 - Oscam the easy way
Section: base
Architecture: mipsel
Priority: optional
Maintainer: Undertaker
License: unknown
