Package: enigma2-plugin-softcams-oscamsmartcard
Version: 20150802
Description: OscamSmartcard 2.0 - Oscam the easy way
Section: base
Architecture: mipsel
Priority: optional
Maintainer: Undertaker
License: unknown
